@charset "UTF-8";

.size-change{
    width: 400px;
    height: 400px;
    background: #ff0000;
    margin: 0 auto;
  }

@media screen and (max-width:960px){

  .size-change{
    width: 200px;
    height: 200px;
    background: #ff0000;
    margin: 0 auto;
  }
}

.color-change{
  width: 300px;
  height: 300px;
  background: #ff0000;
  margin: 0 auto;
}

@media screen and (max-width:960px){

  .color-change{
    background: #007bff;
    margin: 0 auto;
  }
}

.margin-box{
  display: flex;
  justify-content: center;
}

.margin-bluebox{
  width: 300px;
  height: 300px;
  background: #0008ff;
}

.margin-greenbox{
  width: 300px;
  height: 300px;
  background: #22ff00;
  float: left;
  margin-left: 150px;
}

@media screen and (max-width:960px) {

  .margin-bluebox{
  width: 300px;
  height: 300px;
  background: #0008ff;
}

.margin-greenbox{
  width: 300px;
  height: 300px;
  background: #22ff00;
  float: left;
  margin-left: 50px;
}
}

.float-box{
  display: flex;
  justify-content: center;
}

.float-redbox{
  width: 300px;
  height: 300px;
  background: #ff0000;
}

.float-bluebox{
  width: 300px;
  height: 300px;
  background: #0008ff;
}

@media screen and (max-width:960px) {

  .float-box{
    display: block;
  }
}

.flexbox-threebox{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flexbox-redbox{
  width: 300px;
  height: 300px;
  background: #ff0000;
}

.flexbox-bluebox{
  width: 300px;
  height: 300px;
  background: #0008ff;
}

.flexbox-orangebox{
  width: 300px;
  height: 300px;
  background: #ff8400;
}

@media screen and (max-width:960px) {

  .flexbox-threebox{
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}
}

.designation{
  display: flex;
  justify-content: center;
  text-align: center;
}

.designation-A{
  padding: 150px;
  background: #00ff51;
}

.designation-B{
  padding: 150px;
  background: #d4ff00;
}

.designation-C{
  padding: 150px;
  background: #ff00e1;
}

@media screen and (max-width:960px) {

  .designation-A{
  padding: 150px;
  background: #00ff51;
  order: 2;
}

.designation-B{
  padding: 150px;
  background: #d4ff00;
  order: 3;
}

.designation-C{
  padding: 150px;
  background: #ff00e1;
  order: 1;
}
}

.hidden-threebox{
  display: flex;
  justify-content: center;
}

.hidden-redbox{
  width: 300px;
  height: 300px;
  background: #ff0000;
}

.display-bluebox{
  width: 300px;
  height: 300px;
  background: #0008ff;
}

.display-greenbox{
  width: 300px;
  height: 300px;
  background: #00ff51;
}

@media screen and (max-width:960px) {
  .hidden-redbox{
    display: none;
  }
}

@media screen and (min-width:960px) {
  .display-bluebox{
    display: none;
  }
}